/* app.component styles */

.player-rune-stats {
	height: 11%;
	width: 33%;
}

.player-box {
	background-color: rgba(32, 38, 57, 0.8);
	border-color: #3c3c47;
	border-style: solid;
	border-width: 1px 2px 1px 3px;
	color: white;
	display: inline-block;
	height: 100%;
	width: 43%;
}


.rune-box {
	background-color: rgba(32, 38, 57, 0.8);
	border-color: #3c3c47;
	border-style: solid;
	border-width: 1px .5px 1px 2px;
	color: white;
	display: inline-block;
	height: 100%;
	width: 15%;
}

.stats-box {
	background-color: rgba(32, 38, 57, 0.8);
	border-color: #3c3c47;
	border-style: solid;
	border-width: 1px .5px 1px .5px;
	color: white;
	display: inline-block;
	height: 100%;
	width: 14%;
}

.torment-box {
	background-color: rgba(32, 38, 57, 0.8);
	display: inline-block;
	height: 100%;
	width: 27%;
	color: white;
}